.assignment-table .list-group-item {
    padding-top: 5px;
    padding-bottom: 0px;
}

.assignment-table a {
    text-decoration: none;
    color: black;
}

.hr-grow {
    width: 101%;
    margin-left: -12px;
}

.wd-course-navigation-sm-size {
    background-color: black;
    color: white;
    padding: 20px;
    /* margin-bottom: 20px; */
}

.wd-course-navigation-sm-size a {
    text-decoration: none;
    color: white;
}

.list-group {
    border-radius: 0px;
}

.col-margin-left {
    margin-left: -23px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header-item {
    display: flex;
    align-items: center;
}

.icon-black {
    color: #050505;
}

.color-dark {
    color: #434447;
}

.color-light {
    color: #878885;
}
.confirmation-dialog {
    position: fixed;
    top: 20%; /* Adjust this value to control the vertical position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .confirmation-dialog p {
    margin-bottom: 15px;
  }
  
  .confirmation-dialog button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmation-dialog button:hover {
    background-color: #4e545b; /* Darker background color on hover */
  }
  
  .confirmation-dialog button:focus {
    outline: none;
  }
  
  .confirmation-dialog button.yes {
    background-color: #dc3545; /* Red color for 'Yes' button */
    color: #fff;
  }
  
  .confirmation-dialog button.no {
    background-color: #007bff; /* Blue color for 'No' button */
    color: #fff;
  }
  