.wd-course-navigation-sm-size {
    background-color: black;
    color: white;
    padding: 20px;
}

.wd-course-navigation-sm-size a {
    text-decoration: none;
    color: white;
}

.fixed-width-table input[type="number"] {
    width: 65px !important;
}